<div class="container">
    <div class="card mx-auto w-50">
        <div class="card-header">
            <h5 class="card-title">Login Page</h5>
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                <input 
                    name="username" 
                    class="form-control my-2" 
                    placeholder="Usuario" 
                    [(ngModel)]="user.username"
                >
                <input 
                    name="password" 
                    class="form-control my-2" 
                    type="password" 
                    placeholder="Contraseña" 
                    [(ngModel)]="user.password"
                >
                <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>